body {
    margin: 0px;
    background-color: #313131;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#main {
    width: 960px;
    background-color: white;
    margin: auto;
}

#title {
    padding: 20px;
}

header {
    border-top: 5px solid #a7c353;
    display: flex;
}

nav {
    margin-left: auto;
    margin-right: 20px;
}

nav ul {
    margin: 0px;
}

nav ul li {
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #999999;
}

#shout {
    font-size: 22px;
    line-height: 31px;
    color: #666666;
    text-align: center;
    width: 720px;
    height: 60px;
    margin: auto;
    font-style: italic;
    margin-top: 35px;
    margin-bottom: 30px;
}

#slider {
    margin-bottom: 20px;
}

#slider #image-container {
    margin: auto;
    width: 920px;
    height: 350px;
    overflow: hidden;
    position: relative;
}

#slider #image-container #slider-image:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#slider #dots {
    margin: auto;
    margin-top: 20px;
    width: max-content;
}

#slider #dots button {
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 7px;
    background-color: #a7c353;
    margin: 1px;
    transition: width 0.2s;
    cursor: pointer;
    -webkit-appearance: button-bevel;
}

#slider #dots button:hover {
    width: 25px;
}

#slider #image-container #arrays button {
    padding: 0px;
    position: absolute;
    width: 54px;
    height: 54px;
    background-color: #a7c353;
    top: 148px;
    bottom: 148px;
    border: none;
    border-radius: 27px;
    transition: width 0.5s;
    cursor: pointer;
    -webkit-appearance: button-bevel;
}

#slider #image-container #arrays button:active {
    transform: scale(0.9);
}

#slider #image-container #overlay {
    position: absolute;
    width: 350px;
    right: 60px;
    bottom: 20px;
}

#content {
    display: flex;
}

#content .content-section {
    margin: 0px 20px;
    width: 280px;
}

#content #about #about-image-container {
    border: 1px solid #e2e2e2;
    padding: 4px;
    width: 270px;
    height: 140px;
    overflow: hidden;
}

#content #services .services-section {
    margin:20px 0px;
    display:flex;
}

#content #services .services-section img {
    float: left;
    width: 64px;
    height: 64px;
}

#content #services .services-section .services-section-content {
    margin-left: 20px;
}

#content #services .services-section .services-section-content h6 {
    margin: 0px;
    font-size: 14px;
    line-height: 17px;
    color: #878787;
}

#content #services .services-section .services-section-content p {
    width: 197px;
    height: 48px;
    font-size: 13px;
    line-height: 18px;
    color: #868686;
    margin: 7px 0;
}

#testimonials .testimonials-section .testimonials-section-header {
    width: 280px;
    height: 44px;
    display: inline-table;
}

#testimonials .testimonials-section .testimonials-section-header h6 {
    font-size: 16px;
    line-height: 19px;
    color: #989898;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
}

#testimonials .testimonials-section p {
    width: 278px;
    height: 103px;
    font-size: 13px;
    line-height: 18px;
    color: #888888;
}

#details-contact {
	width: 960px;
	margin: auto;
	margin-top: 40px;
	display: flex;
}

#details-contact .details-section .details-title {
    font-size: 16px;
    line-height: 19px;
    color: white;
}

#details-contact .details-section hr {
    width: 225px;
    height: 0.5px;
    border: 0.5px solid #3a3a3a;
    margin: 15px 0px;
}

#details-contact .details-section {
	padding-right: 20px;
    width: 225px;
    color: white;
    font-size: 12px;
    line-height: 19px;
    color: #999999;
}

#details-contact #social .social-section {
    display: inline-table;
}

#details-contact #social .social-hr {
    margin-top: 2px;
    margin-bottom: 15px;
}

#details-contact #social .social-section .social-SVG-container {
    width: 32px;
    height: 32px;
    background-color: #383838;
    border-radius: 16px;
    position: relative;
    margin-right: 10px;
}

#details-contact #social .social-section .social-SVG-container img {
    position: absolute;
    top: 9px;
    left: 8px;
}

#details-contact #social .social-section a {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: #a7c353;
}

#copyright {
	width: 960px;
	margin: auto;
}

#copyright span {
    font-size: 12px;
    line-height: 12px;
    color: #999999;
    margin: 10px 0px;
}
#details-contact #blog .blog-section {
    margin-bottom: 20px;
}

#details-contact #blog .blog-section .blog-section-title {
    font-size: 13px;
    line-height: 16px;
    color: #999999;
    font-weight: bold;
    margin: 0px;
}
